---
- name: Install | DEB 
  when: ansible_facts["pkg_mgr"] == "apt" and vector_arch_deb is defined
  block:
    - name: Install | DEB | Get vector *.deb packages
      ansible.builtin.get_url:
        url: "https://apt.vector.dev/pool/v/ve/vector_{{ vector_version }}-1_{{ vector_arch_deb }}.deb"
        dest: "/tmp/vector-{{ vector_version }}-{{ vector_arch_deb }}.deb"
        mode: "0750"
        owner: root
        group: root
      register: deb_path_packages

    - name: Install | DEB | Install vector packages
      when: not ansible_check_mode
      ansible.builtin.apt:
        deb: "{{ deb_path_packages.dest }}"
      notify: Restart vector service

- name: Install | RPM
  when: >
    ansible_facts["pkg_mgr"] == "dnf" or ansible_facts["pkg_mgr"] == "yum"
    and vector_arch_rpm is defined
  block:
    - name: Install | PRM | Get vector packages
      ansible.builtin.get_url:
        url: "https://yum.vector.dev/stable/vector-0/{{ vector_arch_rpm }}/vector-{{ vector_version }}-1.{{ vector_arch_rpm }}.rpm"
        dest: "{{ vector_package_path }}/vector-{{ vector_version }}-1.{{ vector_arch_rpm }}.rpm"
        mode: "0755"
        owner: root
        group: root
      register: rpm_path_packages

    - name: Install | PRM | Install vector *.rpm packages
      when: not ansible_check_mode
      ansible.builtin.dnf:
        name: "{{ rpm_path_packages.dest }}"
        disable_gpg_check: true
      notify: Restart vector service

- name: Meta | Flush handlers
  ansible.builtin.meta: flush_handlers
