sources:
  log_file:
    type: file
    read_from: beginning
    ignore_older_secs: 600
    include:
      - {{ app_log_path }}

sinks:
  clickhouse:
    type: clickhouse
    inputs:
      - log_file
    compression: gzip
    healthcheck: 
      enabled: {{ db_healthcheck }}
    database: {{ db_name }}
    {% if 'clickhouse' not in groups %}endpoint: {{ db_proto }}://{{ db_host }}:{{ db_port }}
    {% else %}endpoint: {{ db_proto }}://{{ hostvars[groups['clickhouse'][0]]['inventory_hostname'] }}:{{ db_port }}
    {% endif %}table: {{ db_table }}
    auth:
      strategy: basic
      password: {{ db_password }}
      user: {{ db_user }}
    skip_unknown_fields: true
